/* Stylesheet for MapAnalyzer */
/* ======== Variables ======= */
* {
	-ma-dark-blue:        #2E40CD;
	-ma-light-background: #FAFAFA;
}
/* ======== Core Classes ======= */
.root {
  -fx-background-color:-ma-light-background;
  -fx-font-family: "Arial";
  -fx-padding: 2px;
}
.button{
  -fx-background-color: white;
}
.menu {
	-fx-font-weight: bold;
}
/* ======== Custom Classes ======= */
.layer-edit-diagram {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.list-cell-name {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.list-cell-field {
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}
.list-cell-field-small {
    -fx-font-size: 10px;
    -fx-font-weight: normal;
} 
.list-cell-button {
    -fx-pref-height: 40;
    -fx-pref-width: 40;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}
.list-cell-icon {
    -fx-pref-height: 48;
    -fx-pref-width: 48;
}
.list-cell-icon {
    -fx-background-color: rgba(0, 0, 0, 0)
}
.list-header-label {
	-fx-background-color:-ma-light-background;
	-fx-font-size: 16pt;
	-fx-font-weight: bold;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-text-overrun: ellipsis;
	-fx-pref-height: 40;
	-fx-max-height:40;
}
.splash-label {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-text-fill: white;
	-fx-font-size: 16pt;
	-fx-font-weight: bold;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-text-overrun: ellipsis;
	-fx-pref-height: 48;
	-fx-max-height:48;
}
.splash-screen {
	-fx-min-height: 200;
	-fx-pref-height: 800;
	-fx-max-height:2000;
	-fx-min-width: 400;
	-fx-pref-width: 800;
	-fx-max-width:4000;
}
/* ======== By Component ID ======= */
#ButtonAdd {
	-fx-background-color:-ma-light-background;
	-fx-border-radius: 3;
}
#ButtonAnalyze {
	-fx-background-color: -ma-dark-blue;
	-fx-font-size: 12pt;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-border-radius: 4;
	-fx-pref-height: 32;
	-fx-max-height:32;
}
#ButtonDelete {
	 -fx-border-radius: 3;
}
#ButtonSave {
	-fx-background-color: royalblue;
	-fx-font-size: 12pt;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-border-radius: 4;
	-fx-pref-height: 28;
	-fx-max-height:28;
}
#ButtonShapefile {
	-fx-background-color: lightslategrey;
	-fx-font-size: 9pt;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-border-radius: 4;
	-fx-pref-height: 24;
	-fx-max-height:24;
}